---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import ghosty from "../assets/images/Photo_ghostycode.jpg";
import LinkedInIcon from "../assets/icons/LinkedIn.astro";
import GitHubIcon from "../assets/icons/GitHub.astro";
import MailIcon from "../assets/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../assets/icons/BriefCase.astro";
import CodeIcon from "../assets/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio Santander - Desarrollador y Programador Backend con 1 a침o de experiencia"
  description="Contrata a Santander Iglesias, Desarrollador Backend con 1 a침o de experiencia y estudiante de Ingenieria de Sistemas. Especializado en ...."
>
  <main class="px-2">
    <SectionContainer id="sobre-mi" class="py-16 md:py-36">
      <img
        class="rounded-full size-12 mb-4"
        src={ghosty.src}
        alt="ghostycode foto"
        
      />
      <!-- <Badge> Disponible para trabajar </Badge> -->

      <!-- <div class="max-w-xl">
        <div class="flex gap-4 mb-4">
          <img
            class="rounded-full shadow-lg size-16"
            src={ghosty.src}
            alt="ghostycode foto"
          />
          <a
            href="https://linkedin.com/in/midudev"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div> -->

        <h1
          class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex
      flex-row gap-x-4 pb-6 lg:pb-10"
        >
          Hola, soy Santander Iglesias 游녦
          <a
            href="https://www.linkedin.com/in/santander-iglesias/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <Badge> Disponible para trabajar </Badge>
          </a>
        </h1>
        <h2 class="text-lg lg:text-2xl text-wrap max-w-[700px]">
          <span>+1 a침o de experiencia.</span>
          <span class="text-yellow-100/90">
            Analista y Desarrollador de Sistemas de Informaci칩n y estudiante de Ingenieria de Sistemas,</span
          >
          <span class="text-red-200/95"> de Colombia. </span>
          <span class="opacity-75"> Especializado en el desarrollo de aplicaciones webs personalizadas.</span>
        </h2>

        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/santander-iglesias/">
            <LinkedInIcon class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>

          <SocialPill href="https://www.github.com/GhostyCode/">
            <GitHubIcon class="size-4 md:size-6" />
            GitHub
          </SocialPill>

          <SocialPill href="mailto:santander12342011@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            santander12342011@gmail.com
          </SocialPill>
        </nav>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
