---
import ExperienceItem from "./ExperienceItem.astro";
import { EXPERIENCE } from "../data/portfolio";
---
<ol class="relative borders-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
